@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="float-left-lg">
    <address>
        729 W. Snack Street<br />
        Shacklefords, VA 23156<br />
        <abbr title="Phone">Phone:</abbr>
        (555)-555-5555
    </address>
    <address>
        <strong>Customer Support:</strong>   <a href="mailto:zach@zachvien.com">help@zachsnacks.com</a><br />
        <strong>Commercial Queries:</strong> <a href="mailto:zach@zachvien.com">wholesale@zachsnacks.com</a>
    </address>
</div>
<div class="float-right-lg">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3863.474943289705!2d-76.72972578428505!3d37.54866447980124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b0960c0183235f%3A0xa50f4309a193f9a7!2sLewis%20B%20Puller%20Memorial%20Hwy%2C%20Shacklefords%2C%20VA%2023156!5e1!3m2!1sen!2sus!4v1619365361068!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="float-none"></div>