@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <div>
        <h1>Zach's Snacks</h1>
        <p class="lead">
            It all started back in 1998 when a Zach had a baking pan and a plan to become known as the Candy Man. After years of great sales, followed by being forced to close his business, Zach is back and stronger than ever before!
        </p>
        <p>
            Regardless of where you live, the people at Zach's Snacks will find a way to deliver your sugary goodness to your doorstep.
        </p>
        <p class="lead">
            As an industry leader, Zach's Snacks is proud to be your number one supplier for all things sweet! We've got everything from licorice and suckers to chocolate and cotton candy. You name it, we've got it!
        </p>
        <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Shop Now!</a></p>
    </div>
</div>
