@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<div id="about-page">
    <div class="row">
        <h2>The Beginning</h2>
        <div class="col-md-4 text-center">
            <img src="~/Content/Images/grand-opening.jpg" />
        </div>
        <div class="col-md-8">
            <p>
                It all started back in 1998 when a Zach had a baking pan and a plan to become known as the Candy Man.
                He had been working out of his studio apartment creating delicious sweet candies for his friends and family when a wedding organizer approached Zach.
            </p>
            <p>
                The organizer wanted more candy than Zach made in a typical month, but Zach wasn't one to back down from a challenge.
                He worked long and hard, using a total of 128 pounds of sugar in the four days before the wedding!
                The wedding guests were taken back by Zach's delicious sweets; they had never tasted anything so delicious.
            </p>
        </div>
    </div>
    <div class="text-center">
        <h2>The Speedbumps</h2>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/Content/Images/store-closing.jpg" />
        </div>
        <div class="col-md-8">
            <p>
                After the wedding, Zach decided it was time to open his business.
                In 2001, Zach cut the red ribbon of his store and experienced entrepreneurship as a Candy Man.
            </p>
            <p>
                Business was booming in the years following his opening... until the Great Recession happened.
                Zach had to say goodbye to his candy kitchen and close his store.
            </p>
        </div>
    </div>
    <div class="text-center">
        <h2>The Reopening</h2>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/Content/Images/candy-display.jpg" />
        </div>
        <div class="col-md-8">
            <p>
                Seven years of not having a storefront hurt Zach's finances more than he expected.
                He owed his investors.
                He foreclosed on his house.
                He sold his car.
                He was back at square one.
            </p>
            <p>
                That all changed when he met his now-wife.
                She lifted him up emotionally and financially.
                She helped him so much that they reopened a candy store twice as large as his first one!
            </p>
        </div>
    </div>
    <div class="text-center">
        <h2>The Zach Snacks Experience</h2>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/Content/Images/owner.jpg" />
        </div>
        <div class="col-md-8">
            <p>
                If Zach's ups and downs taught him one thing in life, it was that everyone needs something sweet to look forward to.
                It could be anything from an opportunist career move to a delicious chocolate that will melt in your mouth.
            </p>
            <p>
                That's why Zach offers job interviews to anyone who comes by and gives free samples of up to 10 sweets per person per month.
                He knows that living life can be rough and sometimes you just need something sweet.
                So make an order now, let us know how you're feeling. 
                Who knows, maybe you'll get some extra sweets with your order.
            </p>
        </div>
    </div>
    <div class="float-none"></div>
</div>